@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

#users {
  margin-top: 15px;
  margin-bottom: 10px;
}

body {
  padding-top: 80px;
  background-color: #f5f5f5;
}

.nav-item {
  margin-left: 25px;
  float: right;
  margin-top: 15px;
  margin-right: 5px;
}

// #signout {
//   margin-top: 12px;
// }

// #add-photo {
//   margin-top: 5px;
// }

// #user-profile {
//   margin-top: 5px;
// }

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.jumbotron {
  background-color: #f5f5f5;
  height: 200px;
}
.well {
  background-color: white;
}

.quiet {
  // float: right;
}

.gravatar {

}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

